<!DOCTYPE html>
<html>
    <head>
        <title>Souscritoo</title>
    </head>
    <body>
        <p>
            <a href="http://localhost:8000/souscritoo">Vers /souscritoo</a>
        </p>
    </body>
</html>
